<!DOCTYPE html>


<style>
    @@media screen and (min-width:769px) {
        #myUl {
            float: right;
        }
    }

    @@media screen and (min-width:481px) and (max-width:768px) {
        #myUl {
            float: unset;
            text-align: center;
        }
    }

    @@media screen and (max-width:480px) {
        #myUl {
            float: unset;
            text-align: center;
        }
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Maaş Counter</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Maaş Counter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="myUl">
                    <li>
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="2" min="1" max="30"
                               class="input-sm navbar-form" id="dayDifference" placeholder="Maaş günü giriniz..." style="margin-right:8px;" />
                        <input type="text" class="input-sm navbar-form" id="calcMySalary" placeholder="Net Maaş Giriniz..." style="margin-right:8px;" />
                        <button type="submit" class="btn-sm navbar-btn" id="btnCalc">Hesapla</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maaş Counter</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>